@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    color: navy;
}

#chat {
    height: 400px;
    overflow-y: scroll;
    background-color: #bad2fa;
}

.list-group-item {
    border-radius: 5px;
    background-color: #093786;
    color: white;
    margin: 5px;
}