@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    color: navy;
}

#chat {
    height: 400px;
    overflow-y: scroll;
    background-color: #d5e2f9;
}

.list-group-useritem {
    border-radius: 5px;
    background-color: #0b5ed7;
    color: white;
    margin: 5px;
}

.list-group-azoaiitem {
    border-radius: 5px;
    background-color: white;
    color: #0b5ed7;
    margin: 5px;
}

.title-styles {
    color: rgb(14, 113, 242);
}